{% extends 'base.html' %} {% block content %}

<h1 class="title pt-5">{{header}}</h1>


<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <!--  Our input will search by name of artist  -->
      <input class="input" type="text" name="title" placeholder="title" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
  <a class="button is-dark" href="{% url 'booklist' %}">Clear Search</a>
  <a class="button is-dark" href="{% url 'book_create' %}">Add Book</a>
</form>
<div class="gallery">
  {% for book in books %}
  <a href="{% url 'bookdetails' book.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img width="200px" src="{{book.img}}" alt="{{book.title}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{book.title}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}